
@{
    ViewBag.Title = "DischargedPatient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title titlefix"> IPD Discharged Patient</h3>

                    <div class="box-tools pull-right">

                    </div>
                </div><!-- /.box-header -->


                <div class="box-body">
                    <div class="download_label"> IPD Discharged Patient</div>

                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="dt-buttons btn-group btn-group2">               <a class="btn btn-default dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="Copy"><span><i class="fa fa-files-o"></i></span></a> <a class="btn btn-default dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="Excel"><span><i class="fa fa-file-excel-o"></i></span></a> <a class="btn btn-default dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="CSV"><span><i class="fa fa-file-text-o"></i></span></a> <a class="btn btn-default dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="PDF"><span><i class="fa fa-file-pdf-o"></i></span></a> <a class="btn btn-default dt-button buttons-print" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="Print"><span><i class="fa fa-print"></i></span></a> <a class="btn btn-default dt-button buttons-collection buttons-colvis" tabindex="0" aria-controls="DataTables_Table_0" href="#" title="Columns"><span><i class="fa fa-columns"></i></span></a> </div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="" placeholder="Search..." aria-controls="DataTables_Table_0"></label></div><div id="DataTables_Table_0_processing" class="dataTables_processing" style="display: none;">Processing...</div><table class="table table-striped table-bordered table-hover test_ajax dataTable no-footer dtr-inline" cellspacing="0" width="100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                            <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 83px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 61px;" aria-label="Patient Id: activate to sort column ascending">Patient Id</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 48px;" aria-label="Gender: activate to sort column ascending">Gender</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 71px;" aria-label="Phone: activate to sort column ascending">Phone</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 67px;" aria-label="Consultant: activate to sort column ascending">Consultant</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 110px;" aria-label="Admission Date: activate to sort column ascending">Admission Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 96px;" aria-label="Discharged Date: activate to sort column ascending">Discharged Date</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;" aria-label="Charges ($): activate to sort column ascending">Charges ($)</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 102px;" aria-label="Other Charges ($): activate to sort column ascending">Other Charges ($)</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 46px;" aria-label="Tax ($): activate to sort column ascending">Tax ($)</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 74px;" aria-label="Discount ($): activate to sort column ascending">Discount ($)</th><th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 86px;" aria-label="Paid Amount ($): activate to sort column ascending">Paid Amount ($)</th></tr>
                            </thead>
                            <tbody>

                                <tr role="row" class="odd"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/2/1">Abhijeet Sharma</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/2/1" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1002</td><td>Male</td><td>7444654641</td><td>Sonia Bush</td><td>09/10/2019 02:52 AM</td><td>09/10/2019</td><td class="text-right">50.00</td><td class="text-right">0</td><td class="text-right">0.00</td><td class="text-right">0</td><td class="text-right">50</td></tr>
                                <tr role="row" class="even"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/34/18">Ayush</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/34/18" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1035</td><td>Male</td><td></td><td>Sansa Gomez</td><td>02/12/2020 01:11 PM</td><td>04/12/2020</td><td class="text-right">500.00</td><td class="text-right">0</td><td class="text-right">0.00</td><td class="text-right">0</td><td class="text-right">500</td></tr>
                                <tr role="row" class="odd"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/21/14">Gaurav Singh</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/21/14" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1023</td><td>Male</td><td>96842541</td><td>Sonia Bush</td><td>09/10/2020 05:50 PM</td><td>16/10/2020</td><td class="text-right">3100.00</td><td class="text-right">50</td><td class="text-right">37.47</td><td class="text-right">145</td><td class="text-right">3042.47</td></tr>
                                <tr role="row" class="even"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/7/4">Olivier Thomas</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/7/4" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1007</td><td>Male</td><td>9854697125</td><td>Sonia Bush</td><td>09/10/2019 07:02 AM</td><td>04/12/2020</td><td class="text-right">700.00</td><td class="text-right">0</td><td class="text-right">0.00</td><td class="text-right">0</td><td class="text-right">700</td></tr>
                                <tr role="row" class="odd"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/30/16">Samila</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/30/16" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1031</td><td>Female</td><td>5256584512</td><td>Sonia Bush</td><td>01/11/2020 04:49 PM</td><td>05/11/2020</td><td class="text-right">4550.00</td><td class="text-right">0</td><td class="text-right">0.00</td><td class="text-right">0</td><td class="text-right">4550</td></tr>
                                <tr role="row" class="even"><td class="sorting_1" tabindex="0"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/26/15">Silvia Games</a><div class="rowoptionview"><a href="https://demo.smart-hospital.in/admin/patient/ipdprofile/26/15" class="btn btn-default btn-xs" data-toggle="tooltip" title="Show"><i class="fa fa-reorder" aria-hidden="true"></i></a></div></td><td>1027</td><td>Female</td><td>63524178</td><td>Sansa Gomez</td><td>14/10/2020 02:11 AM</td><td>16/10/2020</td><td class="text-right">300.00</td><td class="text-right">200</td><td class="text-right">2.07</td><td class="text-right">10</td><td class="text-right">492.07</td></tr>
                            </tbody>
                        </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Records: 1 to 6 of 6</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous"><i class="fa fa-angle-left"></i></a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next"><i class="fa fa-angle-right"></i></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<style type="text/css">

    /*! CSS Used from: https://demo.smart-hospital.in/backend/bootstrap/css/bootstrap.min.css */
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
input{margin:0;font:inherit;color:inherit;}
input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}
@@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
.table-bordered td,.table-bordered th{border:1px solid #ddd!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h3{font-size:24px;}
.text-right{text-align:right;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@@media (min-width:992px){
.col-md-12{float:left;}
.col-md-12{width:100%;}
}
table{background-color:transparent;}
th{text-align:left;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>tbody>tr>td,.table>thead>tr>th{padding:5px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd;}
.table>thead:first-child>tr:first-child>th{border-top:0;}
.table-bordered{border:1px solid #ddd;}
.table-bordered>tbody>tr>td,.table-bordered>thead>tr>th{border:1px solid #ddd;}
.table-bordered>thead>tr>th{border-bottom-width:2px;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#fff;}
.table-hover>tbody>tr:hover{background-color:#f5f5f5;}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input[type=search]{-webkit-appearance:none;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c;}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active:focus,.btn-default:active:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:active{background-image:none;}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;}
.btn-group{position:relative;display:inline-block;vertical-align:middle;}
.btn-group>.btn{position:relative;float:left;}
.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover{z-index:2;}
.btn-group .btn+.btn{margin-left:-1px;}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){border-radius:0;}
.btn-group>.btn:first-child{margin-left:0;}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0;}
.btn-group>.btn:last-child:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
.pull-right{float:right!important;}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/css/style-main.css */
label{font-family:'Roboto-Medium';font-weight:normal;}
a{-webkit-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-moz-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-o-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;transition:color 250ms ease-in-out, background-color 250ms ease-in-out;}
a:hover,a:focus{-webkit-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-moz-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-o-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;transition:color 250ms ease-in-out, background-color 250ms ease-in-out;}
.content{min-height:250px;clear:both;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
h3{font-family:'Roboto','Source Sans Pro',sans-serif;}
a{color:#0084B4;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;color:#72afd2;}
.box{position:relative;border-radius:3px;background:#ffffff;border:solid 1px #c5d6de;margin-bottom:20px;width:100%;}
.box-header:before,.box-body:before,.box-header:after,.box-body:after{content:" ";display:table;}
.box-header:after,.box-body:after{clear:both;}
.box-header{color:#444;display:block;padding:7px 10px 8px;position:relative;}
.box-header.with-border{border-bottom:solid 1px #d8e2e7;}
.box-header .box-title{display:inline-block;font-size:18px;margin:0;line-height:normal;}
.box-header>.box-tools{position:absolute;right:10px;top:8px;}
.box-body{padding:8px;border-radius:3px;}
.btn{border-radius:2px;-webkit-box-shadow:none;box-shadow:none;border:0;line-height:1.42857143;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.btn:focus{outline:none;}
.btn-default{background-color:#f4f4f4;color:#444;border-color:#ddd;}
.btn-default:hover,.btn-default:active{background-color:#e7e7e7;}
.table>thead>tr>th,.table>tbody>tr>td{border-top:1px solid #f4f4f4;}
.table>thead>tr>th{border-bottom:2px solid #f4f4f4;background:#ececec;}
.table-bordered{border:1px solid #fff;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>td{border:1px solid #f4f4f4;}
.table-bordered>thead>tr>th{border-bottom-width:2px;}
.btn{-webkit-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-moz-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;-o-transition:color 250ms ease-in-out, background-color 250ms ease-in-out;transition:color 250ms ease-in-out, background-color 250ms ease-in-out;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>td{border:0px solid #f4f4f4;}
.dataTables_wrapper .dataTables_filter{float:right;text-align:right;}
table{empty-cells:hide;}
@@media (max-width:767px){
.dataTables_wrapper .dataTables_filter{float:none;text-align:center!important;}
.btn-group{position:relative;z-index:1;}
}
.dataTables_filter input{height:26px!important;border-radius:3px;}
.buttons-html5,.buttons-print,.buttons-colvis{padding:2px 8px;}
table.dataTable thead .sorting:last-child:after{opacity:0.2;display:none;content:"\f0d7";}
.btn-group2{position:relative;z-index:1;padding-left:10px;float:right!important;}
.table>thead>tr>th{border-bottom:2px solid #f4f4f4;background:#fff;vertical-align:top;}
table.dataTable{width:100%!important;}
.btn-xs{line-height:1.3;}
@@media (max-width:767px){
div.dataTables_wrapper div.dataTables_filter input{width:100%;}
.dataTables_wrapper{margin-top:10px;}
div.dt-buttons{margin-bottom:0px!important;margin-right:10px;}
div.dataTables_wrapper div.dataTables_filter label{margin-left:10px;}
table.table-bordered td:last-child{text-align:left;}
}
@@media (max-width:767px){
.titlefix{position:relative;text-align:center;}
.btn-xs{padding:1px 3px;}
}
.btn-default,.btn{position:relative;overflow:hidden;}
.btn:active:after{transform:scale(0,0);opacity:.2;transition:0s;}
.btn:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle, #fff 10%, transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10, 10);opacity:0;transition:transform .5s, opacity 1s;}
.btn-default:active:after{transform:scale(0,0);opacity:.2;transition:0s;}
.btn-default:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle, #000 10%, transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10, 10);opacity:0;transition:transform .5s, opacity 1s;}
a{position:relative;overflow:hidden;display:table;}
a:active:after{transform:scale(0,0);opacity:.2;transition:0s;}
a:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle, #000 10%, transparent 10.01%)!important;background-repeat:no-repeat;background-position:50%;transform:scale(10, 10);opacity:0;transition:transform .5s, opacity 1s;}
div.dt-buttons{margin-bottom:10px;}
table.dataTable thead .sorting_asc:after{content:"\f0d8";}
table.dataTable thead .sorting:after{opacity:0.2;content:"\f0d7";}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after{position:relative;vertical-align:middle;display:inline-block;font-family:'FontAwesome';opacity:0.5;padding-left:5px;}
.download_label{display:none;}
@@media (max-width: 767px){
.dataTables_wrapper{text-align:center;overflow-x:scroll;overflow-y:hidden;}
table.dataTable{text-align:left;}
td,th{white-space:nowrap;}
}
.row{margin-right:-10px;margin-left:-10px;}
.col-md-12{position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
@@media (max-width:767px){
.box-header>.box-tools{position:relative;right:0;width:100%;top:0px;}
}
table.table .rowoptionview{visibility:hidden;}
table.table tr:hover .rowoptionview{visibility:visible;background:#f4f4f4;}
.rowoptionview{position:absolute;right:15px;margin-top:-19.5px;z-index:2;}
.rowoptionview a{border:0px!important;border-radius:3px!important;background:#fff;}
@@media (max-width:767px){
table.table .rowoptionview{right:0;}
}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/css/all.css */
.fa{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-angle-left:before{content:"\f104";}
.fa-angle-right:before{content:"\f105";}
.fa-columns:before{content:"\f0db";}
.fa-print:before{content:"\f02f";}
.fa{font-family:'Font Awesome 5 Free';font-weight:900;}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pull-right{float:right;}
.fa-print:before{content:"\f02f";}
.fa-files-o:before{content:"\f0c5";}
.fa-reorder:before{content:"\f0c9";}
.fa-columns:before{content:"\f0db";}
.fa-file-text-o:before{content:"\f0f6";}
.fa-angle-left:before{content:"\f104";}
.fa-angle-right:before{content:"\f105";}
.fa-file-pdf-o:before{content:"\f1c1";}
.fa-file-excel-o:before{content:"\f1c3";}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/datatables/css/jquery.dataTables.min.css */
table.dataTable{width:100%;margin:0 auto;clear:both;border-spacing:0;}
table.dataTable thead th{padding:5px 5px;border-bottom:1px solid #ddd;}
table.dataTable thead th:active{outline:none;}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc{cursor:pointer;*cursor:hand;background-repeat:no-repeat;background-position:center right;}
table.dataTable.no-footer{border-bottom:1px solid #f4f4f4;}
.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1;}
.dataTables_wrapper .dataTables_filter{float:left;text-align:right;}
.dataTables_wrapper .dataTables_filter input{margin-left:0.5em;}
.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:0.755em;}
.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:0.25em;}
.dataTables_wrapper .dataTables_paginate .paginate_button{font-size:10px;box-sizing:border-box;display:inline-block;min-width:1.5em;padding:2px 8px;text-align:center;text-decoration:none!important;cursor:pointer;*cursor:han;color:#424242!important;t;border:0px solid #ddd;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#777!important;border:0px solid #ddd;background-color:rgb(236, 236, 236);}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666!important;border:0px solid #ddd;background:transparent;box-shadow:none;border-radius:0;cursor:not-allowed;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:#424242!important;border-radius:0px;border:0px solid rgb(221, 221, 221);background-color:rgb(236, 236, 236);}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;border-radius:0;background-color:#fff;}
.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);}
.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#333;}
.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0;}
@@media screen and (max-width: 767px){
.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center;}
.dataTables_wrapper .dataTables_paginate{margin-top:0.5em;}
}
@@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_filter{float:none;text-align:center;}
.dataTables_wrapper .dataTables_filter{margin-top:0.5em;}
}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/datatables/css/buttons.dataTables.min.css */
a.dt-button{position:relative;display:inline-block;box-sizing:border-box;padding:2px 6.2px;border-radius:0px;cursor:pointer;font-size:14px;color:#444;white-space:nowrap;overflow:hidden;background-color:#fff;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none;outline:none;border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ddd;}
a.dt-button:active:not(.disabled){background-color:#e2e2e2;}
a.dt-button:active:not(.disabled):hover:not(.disabled){box-shadow:none;background-color:#868585;}
a.dt-button:hover{text-decoration:none;}
a.dt-button:hover:not(.disabled){background-color:#e7e7e7;}
a.dt-button:focus:not(.disabled){outline:none;}
div.dt-buttons{position:relative;float:left;}
@@media screen and (max-width: 640px){
div.dt-buttons{float:none!important;text-align:center;}
}
.dataTables_filter input{height:26px!important;border-radius:0px;font-weight:normal;border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ddd;outline:none;padding:0px 0px;font-size:10pt;}
/*! CSS Used from: https://demo.smart-hospital.in/backend/dist/datatables/css/dataTables.bootstrap.min.css */
table.dataTable{clear:both;margin-top:6px!important;margin-bottom:6px!important;max-width:none!important;}
table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;box-sizing:content-box;}
div.dataTables_wrapper div.dataTables_filter{text-align:right;}
div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left;}
div.dataTables_wrapper div.dataTables_filter input{margin-left:0;display:inline-block;width:100%;}
div.dataTables_wrapper div.dataTables_info{padding-top:8px;white-space:nowrap;font-size:10px;}
div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right;}
div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0;}
table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting{padding-right:10px;}
table.dataTable thead>tr>th:active{outline:none;}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc{cursor:pointer;position:relative;background:#fff;}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after{position:relative;vertical-align:middle;display:inline-block;font-family:'FontAwesome';opacity:0.5;padding-left:5px;}
table.dataTable thead .sorting:after{opacity:0.2;content:"\f0d7";}
table.dataTable thead .sorting_asc:after{content:"\f0d8";}
div.dataTables_wrapper div.dataTables_filter input:focus{border-color:#3c8dbc;box-shadow:none;}
@@media screen and (max-width: 767px){
div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center;}
}
table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0;}
table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0;}
table.table-bordered.dataTable tbody td{border-bottom-width:0;outline:none;}
/*! CSS Used fontfaces */
@@font-face{font-family:'Roboto-Medium';src:url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.eot');src:url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.eot#iefix') format('embedded-opentype'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.woff2') format('woff2'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.woff') format('woff'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.ttf') format('truetype'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');font-style:normal;font-weight:normal;}
@@font-face{font-family:'Roboto';src:url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.eot');src:url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.eot#iefix') format('embedded-opentype'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.woff2') format('woff2'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.woff') format('woff'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.ttf') format('truetype'),           url('https://demo.smart-hospital.in/backend/dist/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');font-style:normal;font-weight:normal;}
@@font-face{font-family:'FontAwesome';src:url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.eot?v=4.5.0');src:url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.eot#iefix&v=4.5.0') format('embedded-opentype'),url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('https://demo.smart-hospital.in/backend/dist/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@@font-face{font-family:'Font Awesome 5 Free';font-style:normal;font-weight:400;src:url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.eot");src:url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.eot#iefix") format("embedded-opentype"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.woff2") format("woff2"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.woff") format("woff"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.ttf") format("truetype"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-regular-400.svg#fontawesome") format("svg");}
@@font-face{font-family:'Font Awesome 5 Free';font-style:normal;font-weight:900;src:url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.eot");src:url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.eot#iefix") format("embedded-opentype"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.woff2") format("woff2"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.woff") format("woff"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.ttf") format("truetype"), url("https://demo.smart-hospital.in/backend/dist/webfonts/fa-solid-900.svg#fontawesome") format("svg");}


</style>