@{
    HttpCookie rxgoAdminCookie = Request.Cookies["rxgoAdmin"];
}

<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                @*<li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/MasterAdmin/RoleMaster" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Role Master</span></a></li>
        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/MasterAdmin/HospitalList" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Manage Hospital</span></a></li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Patient/OPDPatient" aria-expanded="false"><i class="fa fa-stethoscope"></i><span class="hide-menu">OPD - Out Patient </span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Patient/IPDPatient" aria-expanded="false"><i class="fa fa-procedures"></i><span class="hide-menu">IPD - In Patient </span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Pharmacy/GenerateBill" aria-expanded="false"><i class="fa fa-procedures"></i><span class="hide-menu">Pharmacy </span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Pathology/PathologyTest" aria-expanded="false"><i class="fa fa-procedures"></i><span class="hide-menu">Pathology </span></a>
                </li>
                @*<li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-flask"></i><span class="hide-menu">Pathology </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Pathology/Category" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Pathology Category </span></a></li>
                        <li class="sidebar-item"><a href="/Pathology/SubCategory" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Pathology Sub Category </span></a></li>
                        <li class="sidebar-item"><a href="/Pathology/PathologyTest" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Pathology Test </span></a></li>
                    </ul>
                </li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Radiology/Test" aria-expanded="false"><i class="fa fa-procedures"></i><span class="hide-menu">Radiology </span></a>
                </li>
                @*<li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-flask"></i><span class="hide-menu">Radiology </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Radiology/Category" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Category Name</span></a></li>
                        <li class="sidebar-item"><a href="/Radiology/ChargeCategory" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Charge Category</span></a></li>
                        <li class="sidebar-item"><a href="/Radiology/Code" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Charge Category Code </span></a></li>
                        <li class="sidebar-item"><a href="/Radiology/Parameter" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Test Parameters</span></a></li>
                    </ul>
                </li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-flask"></i><span class="hide-menu">Operation Theatre </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Operation/TPA" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu">Third Party Administrator</span></a></li>
                        <li class="sidebar-item"><a href="/Operation/ChargeCategory" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Charge Category</span></a></li>
                        
                       
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Manage Executive </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/MarketingExecutive/MarketingExecutive" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Marketing Executive </span></a></li>
                    </ul>
                </li>
                @*<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="widgets.html" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Widgets</span></a></li>*@
                @*<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="tables.html" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Tables</span></a></li>*@
                @*<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="grid.html" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Full Width</span></a></li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Master Admin </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Admin/UserList" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> User Type </span></a></li>
                    </ul>
                </li>
                @*<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-buttons.html" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">Buttons</span></a></li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Employee Master </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Employee/ShowEmployee" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu"> Employee List </span></a></li>
                    </ul>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-cogs"></i><span class="hide-menu">Setup </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Symptoms </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/Setup/SympHead" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Symptoms Head </span></a></li>
                                <li class="sidebar-item"><a href="/Setup/SympType" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Symptoms Type </span></a></li>
                            </ul>
                        
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Finance </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/Finance/IncomeHead" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Income</span></a></li>
                                <li class="sidebar-item"><a href="/Finance/ExpenseHead" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Expense</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Birth & Death Record</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/BirthDeath/BirthRecord" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Birth Record</span></a></li>
                                <li class="sidebar-item"><a href="/BirthDeath/DeathRecord" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu"> Death Record</span></a></li>
                            </ul>

                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Front Office</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/FrontOffice/Purpose" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Purpose</span></a></li>
                                <li class="sidebar-item"><a href="/FrontOffice/ComplainType" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Complain Type</span></a></li>
                                <li class="sidebar-item"><a href="/FrontOffice/Source" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Source</span></a></li>
                                <li class="sidebar-item"><a href="/FrontOffice/AptPriority" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Appointment Priority</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Bed</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/Bed/Purpose" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Bed Status</span></a></li>
                                <li class="sidebar-item"><a href="/Bed/Bed" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Bed</span></a></li>
                                <li class="sidebar-item"><a href="/Bed/BedType" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Bed Type</span></a></li>
                                <li class="sidebar-item"><a href="/Bed/BedGroup" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Bed Group</span></a></li>
                                <li class="sidebar-item"><a href="/Bed/Floor" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Floor</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Pathology</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/Pathology/Category" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Pathology Category</span></a></li>
                                <li class="sidebar-item"><a href="/Pathology/Unit" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Unit</span></a></li>
                                <li class="sidebar-item"><a href="/Pathology/Parameter" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Pathology Parameter</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Radiology</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/Radiology/Category" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Radiology Category</span></a></li>
                                <li class="sidebar-item"><a href="/Radiology/Unit" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Unit</span></a></li>
                                <li class="sidebar-item"><a href="/Radiology/Parameter" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu"> Radiology Parameter</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a href="javascript:void(0)" class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fas fa-arrow-circle-right"></i><span class="hide-menu">Pharmacy</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/MedicineCategory/Category" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Medicine Category</span></a></li>
                                <li class="sidebar-item"><a href="/MedicineCategory/Supplier" class="sidebar-link"><i class="fas fa-angle-right"></i><span class="hide-menu">Supplier</span></a></li>
                                <li class="sidebar-item"><a href="/MedicineCategory/Dosage" class="sidebar-link"><i class="fa fa-angle-right"></i><span class="hide-menu">Medicine Dosage</span></a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </li>


                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/MyProfile/@rxgoAdminCookie.Values["Hid"]" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">My Profile</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-elements.html" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Elements</span></a></li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Addons </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="index2.html" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> Dashboard-2 </span></a></li>
                        <li class="sidebar-item"><a href="pages-gallery.html" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> Gallery </span></a></li>
                        <li class="sidebar-item"><a href="pages-calendar.html" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Calendar </span></a></li>
                        <li class="sidebar-item"><a href="pages-invoice.html" class="sidebar-link"><i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Invoice </span></a></li>
                        <li class="sidebar-item"><a href="pages-chat.html" class="sidebar-link"><i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat Option </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="authentication-login.html" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span></a></li>
                        <li class="sidebar-item"><a href="authentication-register.html" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-alert"></i><span class="hide-menu">Errors </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="error-403.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 403 </span></a></li>
                        <li class="sidebar-item"><a href="error-404.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 404 </span></a></li>
                        <li class="sidebar-item"><a href="error-405.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 405 </span></a></li>
                        <li class="sidebar-item"><a href="error-500.html" class="sidebar-link"><i class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 500 </span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->